<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.saucedemo.interview.listeners.MyListeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="chrome" />  <!-- value can be chrome/ff -->
		<classes>
			<class name="com.saucedemo.interview.mypagestest.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
